.navbar {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid var(--border-color);
    font-family: var(--font-family-body);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}

.navbar-logo {
    color: var(--text-color);
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    font-family: var(--font-family-headings);
}

.navbar-links {
    display: flex;
    gap: 2.5rem;
}

.navbar-link {
    color: var(--subtle-text-color);
    text-decoration: none;
    font-weight: 700;
    padding-bottom: 5px; /* Space for the underline */
    position: relative; /* Required for positioning the pseudo-element */
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: var(--primary-color); /* Change text color on hover */
}

/* The animated underline */
.navbar-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0); /* Initially, the underline has no width */
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out; /* Smooth transition for the animation */
}

/* On hover, the underline scales to full width */
.navbar-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-auth {
    display: flex;
    gap: 1rem;
}

